<%- include("./partials/header") %>
<%- include("./partials/navbarloggedin", {username:username}) %>

<style>

.section-title h2 {
	border-bottom:1px solid #0b80fc;
	margin-bottom:25px;
	font-weight:700;
	font-size:1.4rem;
	margin-bottom:27px;
}
.section-title span {
	border-bottom:1px solid rgba(0,0,0,.44);
	display:inline-block;
	padding-bottom:20px;
	margin-bottom:-1px;
}



/*social */
.cards-one {
    position: relative;
    width: 300px;
    background: #fff;
    box-shadow: 0 10px 7px -5px rgba(0, 0, 0, 0.4);
}
.cards {
    margin-bottom: 35px;
    box-shadow: 0 10px 20px 0 rgba(26, 44, 57, 0.14);
    border: none;
}

.follower-wrapper li {
    list-style-type: none;
    color: #fff;
    display: inline-block;
    margin-right: 20px;
}

.social-profile {
    color: #fff;
}

.social-profile a {
    color: #fff;
}

.social-profile {
    position: relative;
    margin-bottom: 150px;
}

.social-profile .user-profile {
    position: absolute;
    bottom: -75px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    left: 50px;
}

.social-nav {
    position: absolute;
    bottom: 0;
}

.social-prof {
    color: #333;
    text-align: center;
}

.social-prof .wrapper {
    width: 70%;
    margin: auto;
    margin-top: -100px;
}

.social-prof img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 5px solid #fff;
    /*border: 10px solid #70b5e6ee;*/
}

.social-prof h3 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 0;
}

.social-prof p {
    font-size: 18px;
}

.social-prof .nav-tabs {
    border: none;
}

/*--------------------------------------------------------------
# Card - All blogs
--------------------------------------------------------------*/

* {
  margin: 0;
  padding: 0; }
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #191919;
  line-height: 1.3;
  font-weight: 500; }

p {
  color: #180303;
  font-size: 16px;
  line-height: 2;
  font-weight: 400; }

ul,
ol {
  margin: 0; }
  ul li,
  ol li {
    list-style: none; }

img {
  height: auto;
  max-width: 100%; }

/* :: 3.1.0 Spacing */
.mt-5 {
  margin-top: 5px !important; }
.mt-10 {
  margin-top: 10px !important; }
.mt-15 {
  margin-top: 15px !important; }

.mt-30 {
  margin-top: 30px !important; }

.mt-50 {
  margin-top: 50px !important; }

.mt-70 {
  margin-top: 70px !important; }

.mt-100 {
  margin-top: 100px !important; }

.mb-15 {
  margin-bottom: 15px !important; }

.mb-30 {
  margin-bottom: 30px !important; }

.mb-50 {
  margin-bottom: 50px !important; }

.mb-70 {
  margin-bottom: 70px !important; }

.mb-100 {
  margin-bottom: 100px !important; }

.ml-15 {
  margin-left: 15px !important; }

.ml-30 {
  margin-left: 30px !important; }

.ml-50 {
  margin-left: 50px !important; }

.mr-15 {
  margin-right: 15px !important; }

.mr-30 {
  margin-right: 30px !important; }

.mr-50 {
  margin-right: 50px !important; }




.post-sidebar-area {
  position: relative;
  z-index: 1; }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .post-sidebar-area {
      margin-top: 50px; } }
  @media only screen and (max-width: 767px) {
    .post-sidebar-area {
      margin-top: 50px; } }

/* :: 11.0 Blog Area CSS */
.single-blog-post {
  position: relative;
  z-index: 1; }
  .single-blog-post .post-thumbnail {
    position: relative;
    z-index: 1;
    margin-bottom: 20px; }
  .single-blog-post .post-content .post-date {
    font-weight: 625;
    font-size: 13px;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #0b80fc;
    margin-bottom: 0; }
  .single-blog-post .post-content .post-title h4 {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    line-height: 1.5;
    margin-bottom: 15px;
    font-weight: 500; }
    .single-blog-post .post-content .post-title h4:hover {
      color: #0b80fc; }

  /* Zoom In #1 */
  .single-blog-post .post-thumbnail img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.single-blog-post .post-thumbnail:hover img {
	-webkit-transform: scale(1.03);
	transform: scale(1.03);
}


/* :: 15.0 Sidebar Area CSS */
.single-widget-area {
  position: relative;
  z-index: 1; }
  .single-widget-area .widget-title {
    width: 100%;
    position: relative;
    z-index: 2;
    margin-bottom: 30px;
    text-align: center;
    background-color: #0b80fc;
    height: 40px;
    border-radius: 2px; }
    .single-widget-area .widget-title h6 {
      position: relative;
      z-index: 5;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 1px;
      margin-bottom: 0;
      line-height: 40px;
      padding: 0 15px;
      display: inline-block;
      color: #ffffff; }
  .single-widget-area .about-thumbnail {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0 auto;
    display: block; }
    .single-widget-area .about-thumbnail img {
      border-radius: 50%; }
  .single-widget-area .widget-content img {
    margin-top: 20px;
    margin-bottom: 15px; }
  .single-widget-area .widget-content p {
    margin-bottom: 0;
    font-size: 16px;
    line-height: 1.6;
    color: #595959; }
  .single-widget-area .widget-social-info a {
    display: inline-block;
    padding: 0 10px; }
    .single-widget-area .widget-social-info a:hover, .single-widget-area .widget-social-info a:focus {
      color: #d1bb95; }
  .single-widget-area .single-latest-post {
    position: relative;
    z-index: 1;
    margin-bottom: 30px; }
    .single-widget-area .single-latest-post:last-child {
      margin-bottom: 0; }
    .single-widget-area .single-latest-post .post-thumb {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 35%;
      flex: 0 0 35%;
      max-width: 35%;
      width: 35%;
      margin-right: 30px; }
    .single-widget-area .single-latest-post .post-content .post-title {
      position: relative;
      top: -5px;
      z-index: 1;
      line-height: 1;
      display: block; }
      .single-widget-area .single-latest-post .post-content .post-title h6 {
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms;
        font-size: 18px;
        line-height: 1.2;
        font-weight: 600;
        margin-bottom: 0; }
        .single-widget-area .single-latest-post .post-content .post-title h6:hover, .single-widget-area .single-latest-post .post-content .post-title h6:focus {
          color: #0b80fc; }
    .single-widget-area .single-latest-post .post-content .post-author {
      display: block;
      font-size: 14px;
      font-style: italic;
      font-weight: 400; }
      .single-widget-area .single-latest-post .post-content .post-author span {
        color: #a6a6a6; }
  .single-widget-area .newsletter-content {
    position: relative;
    z-index: 1; }
    .single-widget-area .newsletter-content p {
      margin-bottom: 30px;
      font-size: 16px;
      line-height: 1.5; }
    .single-widget-area .newsletter-content form {
      position: relative;
      z-index: 2; }
      .single-widget-area .newsletter-content form input {
        background-color: #f2f4f5;
        padding: 0 20px;
        width: 100%;
        height: 50px;
        font-size: 14px;
        color: #a6a6a6;
        border: none;
        border-radius: 0; }
        .single-widget-area .newsletter-content form input:focus {
          box-shadow: none; }
      .single-widget-area .newsletter-content form button {
        position: absolute;
        top: 0;
        right: 0;
        width: 50px;
        height: 50px;
        z-index: 10;
        border: none;
        background-color: #d1bb95;
        cursor: pointer;
        color: #ffffff; }
        .single-widget-area .newsletter-content form button:hover {
          -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
          background-color: #191919; }
  .single-widget-area .popular-tags li a {
    display: inline-block;
    margin: 4px;
    border: 1px solid #ebebeb;
    padding: 10px 15px;
    line-height: 1;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 400;
    color: #191919; }
    .single-widget-area .popular-tags li a:hover, .single-widget-area .popular-tags li a:focus {
      color: #d1bb95; }
  .single-widget-area .nikki-catagories {
    position: relative;
    z-index: 1; }
    .single-widget-area .nikki-catagories li a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      padding: 15px 0;
      font-size: 16px;
      line-height: 1;
      font-weight: 300; }
      .single-widget-area .nikki-catagories li a span {
        color: #191919;
        -webkit-transition-duration: 500ms;
        transition-duration: 500ms; }
        .single-widget-area .nikki-catagories li a span i {
          position: relative;
          top: -1px;
          font-size: 14px;
          margin-right: 8px; }
        .single-widget-area .nikki-catagories li a span:last-child {
          color: #a6a6a6;
          font-weight: 400; }
      .single-widget-area .nikki-catagories li a:hover span, .single-widget-area .nikki-catagories li a:focus span {
        color: #d1bb95; }
    .single-widget-area .nikki-catagories li:last-child a {
      border-bottom: none; }
  .single-widget-area .nikki-archives {
    position: relative;
    z-index: 1; }
    .single-widget-area .nikki-archives li a {
      display: block;
      padding: 15px 0;
      font-size: 16px;
      line-height: 1;
      font-weight: 400;
      color: #595959;
      -webkit-transition-duration: 500ms;
      transition-duration: 500ms; }
      .single-widget-area .nikki-archives li a i {
        position: relative;
        top: -3px;
        font-size: 8px;
        margin-right: 8px; }
      .single-widget-area .nikki-archives li a:hover, .single-widget-area .nikki-archives li a:focus {
        color: #d1bb95; }
    .single-widget-area .nikki-archives li:last-child a {
      border-bottom: none; }
  .single-widget-area .search-form {
    position: relative;
    z-index: 2; }
    .single-widget-area .search-form input {
      background-color: #f2f4f5;
      padding: 0 20px;
      width: 100%;
      height: 50px;
      font-size: 14px;
      color: #a6a6a6;
      border: none;
      border-radius: 0; }
      .single-widget-area .search-form input:focus {
        box-shadow: none; }
    .single-widget-area .search-form button {
      position: absolute;
      top: 0;
      right: 0;
      width: 50px;
      height: 50px;
      z-index: 10;
      border: none;
      background-color: #d1bb95;
      cursor: pointer;
      color: #ffffff; }
      .single-widget-area .search-form button:hover {
        -webkit-transition-duration: 300ms;
        transition-duration: 300ms;
        background-color: #191919; }

        #GFG {
            text-decoration: none;
        }
 
        a:hover {
            text-decoration: none;
        }

        .user {
  display: flex;
  margin-top: auto;
}

.user img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-info h5 {
  margin: 0;
}

.tag {
  background: #777;
  border-radius: 50px;
  font-size: 12px;
  margin: 0;
  color: #fff;
  padding: 2px 10px;
  text-transform: uppercase;
}

.tag-teal {
  background: #92d4e4;
}

.tag-purple {
  background: #3d1d94;
}

.tag-pink {
  background: #c62bcb;
}
</style>

<br/>
<br/>
<br/>
<br/>
<br/>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet">
    <div class="container">
        <div class="img" style="background-image: linear-gradient(150deg, rgba(63, 174, 255, .3) 15%, rgba(63, 174, 255, .3) 70%, rgba(63, 174, 255, .3) 94%), url(https://i.ibb.co/Pt0Yk94/2022-04-29-15-31-25-Free-Vector-Cyber-security-risk-analysts-team-reduce-risks-cyber-security-man.png);height: 200px;background-size: cover;"></div>
        <div class="cards social-prof">
            <div class="cards-body">
                <div class="wrapper">
                    <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="" class="user-profile">
                    <h3><%= username %></h3>
                    <p><h5\> <%= email %></h5></p>
                    
                </div>
                <div class="row">
                    <div class="col-lg-12">
                      <ul class=" nav nav-tabs justify-content-center s-nav float-start mb-5 ml-5">
                        <div class="col-sm-6">
                          <h5 class="my-0">Blogs</h5>
                          <div class="h3 my-0">
                              <a href="#"><%= blogs_count %></a>
                          </div>
                      </div>
                      <div class="col-sm-6">
                          <h5 class="my-0">Comments</h5>
                          <div class="h3 my-0">
                              <a href="#"><%= comments_count %></a>
                          </div>
                      </ul>
                        <ul class=" nav nav-tabs justify-content-center s-nav float-end mb-5 mr-5">
                          <a class="btn btn-shadow btn-outline-primary me-3" href="/editprofile"><i class="la la-user-plus"></i>Edit Profile</a>
                          <a class="btn btn-shadow btn-primary" href="#"><i class="la la-user-plus"></i>Logout</a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <br/>


             <!-- All Blogs-->
  <div class="container">
    <section class="featured-posts">
      <div class="section-title">
        <h2 style="color:#063970"><span>All Posts </span></h2>
      </div>
     <!-- ##### Blog Content Area Start ##### -->
  <section class="blog-content-area section-padding-100">
    <div class="container">

        <div class="row justify-content-center">
            <!-- Blog Posts Area -->
            <div class="col-12 col-lg-8">
                <div class="blog-posts-area">
                    <div class="row">
                        <% blogs.reverse() %> 
                        <% blogs.forEach(blog => { %>
                        <!-- Single Blog Post -->
                        <div class="col-12 col-sm-6">
                            <div class="single-blog-post mb-50">
                                <!-- Thumbnail -->
                                <div class="post-thumbnail mb-15">
                                    <a href="/blog/<%= blog.id %>"><img src="https://i.ibb.co/5FTTPJQ/Wireless-Security-Blog.jpg" alt=""></a>
                                </div>
                                <!-- Content -->
                                <div class="post-content">
                                    <p class="post-date mb-15"><span class="tag tag-pink">
                                      <%= blog.category %>
                                    </span></p>
                                    <a id = "GFG" href="/blog/<%= blog.id %>" class="post-title ">
                                      
                                        <h4><%= blog.title %></h4>
                                    </a>
                                    <p class="post-excerpt"><%= blog.message.slice(0, 99) %>....</p>
                                    <div class="user mt-30">
                                      <img src="https://i.ibb.co/SPK606J/134.png" alt="user">
                                      <div class="user-info">
                                        <h5><%= blog.postedBy %></h5>
                                        <h8><%= blog.postedAt %></h8>
                                        <span class="post-read-more" style="padding-left:15px;"><a href=" /edit/<%= blog.id %>"><i class="far fa-edit pl-5" style="font-size:20px"></i></a>&nbsp&nbsp&nbsp <a href=" /delete/<%= blog.id %>" ><i class="bi-trash" style="font-size:20px"></i></a></span>
                                      </div>
                                    </div>
                                  </div>
                            </div>
                        </div>
                        <%}) %>
                    </div>
                </div>
            </div>



            <!-- Blog Sidebar Area -->
            <div class="col-12 col-sm-9 col-md-6 col-lg-4">
                <div class="post-sidebar-area">

                    <!-- ##### Single Widget Area ##### -->
                    <div class="single-widget-area mb-30">
                        <!-- Title -->
                        <div class="widget-title">
                            <h6>Latest Posts</h6>
                        </div>
                        <% top_blogs.forEach(blog => { %>
                        <!-- Single Latest Posts -->
                        <div class="single-latest-post d-flex">
                            <div class="post-thumb">
                                <img src="https://i.ibb.co/5FTTPJQ/Wireless-Security-Blog.jpg" alt="">
                            </div>
                            <div class="post-content">
                                <a id = "GFG" href="/blog/<%= blog.id %>" class="post-title">
                                    <h6><%= blog.title %></h6>
                                </a>
                                <a href="#" class="post-author"><span>by</span> <%= blog.postedBy %></a>
                            </div>
                        </div>
                        <%}) %>
                    </div>

                    <!-- ##### Single Widget Area ##### -->
                    <div class="single-widget-area mb-30">
                        <!-- Adds -->
                        <a href="#"><img src="https://i.ibb.co/5FTTPJQ/Wireless-Security-Blog.jpg" alt=""></a>
                    </div>



                    <!-- ##### Single Widget Area ##### -->
                    <div class="single-widget-area mb-30">
                        <!-- Title -->
                        <div class="widget-title">
                            <h6>popular tags</h6>
                        </div>
                        <!-- Tags -->
                        <ol class="popular-tags d-flex flex-wrap">
                            <li><a href="#">LifeStyle</a></li>
                            <li><a href="#">Sport</a></li>
                            <li><a href="#">Fashion</a></li>
                            <li><a href="#">Photography</a></li>
                            <li><a href="#">Yoga</a></li>
                            <li><a href="#">Health Food</a></li>
                            <li><a href="#">Summer Holiday</a></li>
                            <li><a href="#">Supper Food</a></li>
                            <li><a href="#">Life</a></li>
                            
                        </ol>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<!-- ##### Blog Content Area End ##### -->
  </section>
  </div>
<br/>
<br/>
<br/>


<div class="container">
  <section class="featured-posts">
    <div class="section-title">
      <h2 style="color:#063970"><span>All Users </span></h2>
    </div>
   <!-- ##### Blog Content Area Start ##### -->
<section class="blog-content-area section-padding-100">
  <div class="container">


          <!-- Blog Posts Area -->
          <div class="col-12 col-lg-8">
              <div class="blog-posts-area">
                  <div class="row">
                      <% all_users.reverse() %> 
                      <% all_users.forEach(user => { %>
                      <!-- Single Blog Post -->
                      <div class="col-12 col-md-5" >
                        <div class="card mb-50" style="width: 17rem;">
                          <img src="https://i.ibb.co/SPK606J/134.png" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title"><%= user.name %></h5>
                            <h6 class="card-title"><%= user.email %></h6>
                            <p class="card-text"></p>
                            <a href=" /blockuser/<%= user.email %>" class="btn btn-primary float-none"><%= user.blocked_status %></a>&nbsp&nbsp&nbsp <a href=" /deleteuser/<%= user.email %>" class="btn btn-primary float-none">Delete</a>
                          </div>
                        </div>
                      </div>
                      <%}) %>
                  </div>
              </div>
          </div>

  </div>
</section>

<br/>
<br/>
<br/>
<br/>
<!-- ##### Blog Content Area End ##### -->
</section>
</div>


<%- include("./partials/footer") %>
<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css'>