<%- include("./partials/header") %>
<%- include("./partials/navbarloggedin", {username:username}) %>

<style>

body{
    margin-top:20px;
    background:white;
}
.card-box {
    padding: 20px;
    border-radius: 3px;
    margin-bottom: 30px;
    background-color: #fff;
}
.search-result-box .tab-content {
    padding: 30px 30px 10px 30px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -moz-box-shadow: none
}

.search-result-box .search-item {
    padding-bottom: 20px;
    border-bottom: 1px solid #e3eaef;
    margin-bottom: 20px
}
.text-success {
    color: #0acf97!important;
}
a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}
.btn-custom {
    background-color: #02c0ce;
    border-color: #02c0ce;
}

.btn-custom, .btn-danger, .btn-info, .btn-inverse, .btn-pink, .btn-primary, .btn-purple, .btn-success, .btn-warning {
    color: #fff!important;
}
</style>
<br/>
<br/>
<br/>
<br/>


<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="search-result-box card-box">
 
                    <!-- end row -->
                    <ul class="nav nav-tabs tabs-bordered">
                        <li class="nav-item"><a href="#home" data-toggle="tab" aria-expanded="true" class="nav-link active">Search results <span class="badge badge-success ml-1"><%= search_count %></span></a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="home">
                            <div class="row">
                                <div class="col-md-12">
                                 <% blogs.forEach(blog => { %>
                                    <div class="search-item">
                                        <h4 class="mb-1"><a href="/blog/<%= blog.id %>"><%= blog.title %></a></h4>
                                        <div class="font-13 text-success mb-3">by: <%= blog.postedBy %></div>
                                        <div class="font-13 mb-2"><%= blog.postedAt %></div>
                                        <p class="mb-0 text-muted"><%= blog.message.slice(0, 199) %>...</p>
                                    </div>
                                    <%}) %>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                        <!-- end All results tab -->

                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- container -->
</div>

<script>
    if ( window.history.replaceState ) {
      window.history.replaceState( null, null, window.location.href );
    }
    </script>